
/*-------------- GOOGLE FONTS ------------------ */

/* -------- POPPINS 500, 600, 700 --------- */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2');
  }
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
  }
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'); 
  }


/* ---------- INTER 500, 700 ----------- */

@font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v12-latin-500.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v12-latin-700.woff2') format('woff2');

  }

  /* CUSTOM CSS */

:root{
    /* COLORS */
    --primary-grey-color: #8B8E99;
    --primary-dark-light-color: #1E1D1D;
    --primary-back-box-color: #F6F6F6;

    --secondary-white-color: #FFFFFF;
    --secondary-dark-color: #000000;
    --secondary-blue-color: #3858D6;
    --secondary-rgba-color: rgba(139, 142, 153, 0.7);
    --seconday-footer_dark-color: #0B0B0B;


    /* Font Size */

    --h1-large-size: 6.4rem;
    --h1-large-line: 1.2;

    --h2-large-size: 3.6rem;
    --h2-large-line: 1;

    --h3-large-size: 2.4rem;
    --h3-large-line: 1;

    --text-large-size: 1.6rem;
    --text-large-line: 1.2;


}

  
/* Global style */
  
*
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    scroll-behavior: smooth;
    font-size: 62.5%;
}
ul,
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: flex;
    width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-style: normal;
    font-weight: 500;
}
.button:hover{
    opacity: 0.7;
}

/* Header */

.header{
    background: linear-gradient(155.28deg, #383638 2.06%, #0B0B0B 33.08%);
    padding-bottom: 20rem;
}
.container {
   width: 100%;
   max-width: 1160px;
   margin: 0 auto;
   padding: 0 30px;
}

.navbar {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo {
    display: flex;
    align-items: center;
}
   
.nav-logo_img {
    width: 2.7rem;
    height: 2.7rem;
}
.nav-logo-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: var(--text-large-size);
    line-height: var(--text-large-line);
    color: var(--secondary-white-color);
    margin-left: -1.5rem;
}
.nav-logo-text:hover{
    color: lightcoral;
}
.nav-item {
    display: flex;
    align-items: center;
}
.nav-list:not(:last-child){
    margin-right: 2.7rem;
}
.nav-link{
    font-family: 'Poppins', sans-serif;
    font-size: var(--text-large-size);
    line-height: var(--text-large-line);
    color: var(--primary-grey-color);
}
.nav-link:hover{
    color: lightcoral;
    text-decoration: underline;
}
.icons-box {
    display: flex;
    align-items: center;
}
:not(:last-child)
{
    margin-right: 15px;
}

.nav-icon {
    width: 2.1rem;
    height: 2.3rem;
}
.hero {
    display: flex;
    align-items: center;
    margin-top: 10.2rem;
}

.hero-title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: var(--h1-large-size);
    line-height: var(--h1-large-line);
    color: var(--secondary-white-color);
    max-width: 45.7rem;
}
.hero-text {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: var(--text-large-size);
    line-height: var(--text-large-line);
    color: var(--primary-grey-color);
    max-width: 45.6rem;
    margin-bottom: 4.7rem;
    margin-top: 3rem;
}
.search-box{
    position: relative;
}
.search{
    width: 2.1rem;
    height: 2.1rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
}
.hero-input{
    background: #FFFFFF;
    border-radius: 15px;
    border: none;
    outline: none;
    border: 1px solid transparent;
    padding: 2rem 17rem 2rem 2rem;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: var(--text-large-size);
    line-height: var(--text-large-line);
    color: var(--secondary-rgba-color);
    padding-left: 5.5rem;

}
.input-btn{
    position: relative;
    bottom: 4rem;
    left: 32rem;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: var(--text-large-size);
    line-height: var(--text-large-line);
    text-align: center;
    color: var(--secondary-white-color);
    padding:  1rem 2rem;
    border: 1px solid transparent;
    outline: none;
    border: none;
    background: var(--secondary-blue-color);
    border-radius: 0.9rem;
    text-transform: capitalize;
}
.hero-info{
    margin-left: 18.4rem;
}
.hero-info_image{
    width: 45rem;
    height: 56rem;
}


/* Main */

.main{
    flex-grow: 1;
}
.phone-cart {
    margin-top: 7rem;
    display: flex;
    align-items: center;
    margin-bottom: 10rem;
}

.phones{
    display: flex;
    background: var(--primary-back-box-color);
    border-radius: 2.2rem;
    padding: 4.6rem 2.5rem 4.3rem 4rem;
    box-shadow: 0.3rem 0.3rem 0.8rem #ced0d9;
}
.phones:not(:last-child){
    margin-right: 2rem;
}
.phones:hover{
    transform: scale(105%);
}
.phones-img {
    width: 10rem;
    height: 18rem;
}
.info{
    margin-left: 2rem;
    margin-top: 3rem;
}
.phones-title{
    font-family: 'Inter';
    font-weight: 700;
    font-size: var(--h2-large-size);
    line-height: var(--h2-large-line);
    color: var(--primary-dark-light-color);
    text-transform: capitalize;
}
.phones-text{
    font-family: 'Inter';
    font-weight: 500;
    font-size: var(--text-large-size);
    line-height: var(--text-large-line);
    color: var(--primary-grey-color);
    max-width: 17.3rem;
}

.products_container{
    width: 100%;
    max-width: 410px;
    margin: 0 auto;
    padding: 3rem 0;
    margin-bottom: 6rem;
}
.products-text{
    margin-left: 6rem;
    font-family: 'Inter';
    font-weight: 500;
    font-size: var(--text-large-size);
    line-height: var(--text-large-line);
    text-align: center;
    /* color: #3858D6; */
}
.smartwatch-shop{
    display: flex;
    flex-wrap: wrap;
}
/* .smartwatch-shop:not(:last-child)
{
    /* margin-left: 9rem; */
/* } */
.watches{
    margin-bottom: 6rem;
}
.watches-image{
    background: #F6F6F6;
    /* width: 33.4rem; */
    /* height: 33.7rem; */
    padding: 2.9rem 5.3rem 2.7rem 4.1rem;
    box-shadow: 0.5rem 0.5rem 1rem #d7d8dc;
}
.watches-image:hover{
    transform: scale(105%);
}
.watches-img{
    width: 25rem;
    height: 28rem;
}
.watches-title{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: var(--h3-large-size);
    line-height: var(--h3-large-line);
    text-align: center;
    color: var(--primary-dark-light-color);
    margin-top: 2rem;
    text-transform: capitalize;
}
.starts-img_box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.starts-img {
    margin-top: 1.5rem;
    width: 10.4rem;
    height: 2rem;
}
.watches-text{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: var(--text-large-size);
    line-height: var(--text-large-line);
    text-align: center;
    color: var(--primary-grey-color);
}
.watches-text span{
    font-weight: 600;
    font-size: var(--h3-large-size);
    line-height: var(--text-large-line);
    color: var(--secondary-dark-color);
}
.watches-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.viev-more_btn{
    padding: 1rem 3rem;
    background: var(--secondary-blue-color);
    border-radius: 1.5rem;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: var(--text-large-size);
    line-height: var(--text-large-line);
    text-transform: capitalize;
    text-align: center;
    color: var(--secondary-white-color);
    
}
.about_container{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 3rem 0;
    margin-bottom: 6rem;
    margin-top: 10rem;
}
.about-text{
    margin-left: 8rem;
    font-family: 'Inter';
    font-weight: 500;
    font-size: var(--text-large-size);
    line-height: var(--text-large-line);
    text-align: center;
    /* color: #3858D6; */
}
.about-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-middle{
    padding: 3rem 4.2rem 3rem 3.4rem;
    background: #F6F6F6;
    border-radius: 22px;
    display: flex;
    align-items: center;
    box-shadow: 0.5rem 0.5rem 1rem #d7d3d3;
}
.about-middle:hover{
    transform: scale(105%);
}
.about-one-img {
    width: 16.2rem;
    height: 17.9rem;
}

.about-title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: var(--h3-large-size);
    line-height: var(--h3-large-line);
    color: var(--primary-dark-light-color);
    text-transform: capitalize;
}
.about-us_text{
    max-width: 255px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: var(--text-large-size);
    line-height: var(--text-large-line);
    color: #8B8E99;
}
.oval-box{
    margin-top: 4.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
}
.ovals{
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
    background: var(--primary-grey-color);
}
.ovals:hover{
    background: var(--secondary-blue-color);
}
.oval{
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
    background: var(--secondary-blue-color);
}

.subscribers {
    display: flex;
    align-items: center;
    background: #F6F6F6;
    border-radius: 22px;
    padding: 3.3rem 11rem 4.3rem 9.7rem;
    margin-bottom: 13rem;
}

.subscribers-title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: var(--h2-large-size);
    line-height: var(--h2-large-line);
    color: var(--primary-dark-light-color);
    margin-top: 5rem;
}
.subscribers-text {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: var(--text-large-size);
    line-height: var(--text-large-line);
    color: var(--primary-grey-color);
    margin-bottom: 4.7rem;
    margin-top: 3rem;
}

.subscribers-input{
    background: #FFFFFF;
    border-radius: 15px;
    border: none;
    outline: none;
    border: 1px solid transparent;
    padding: 2rem 17rem 2rem 2rem;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: var(--text-large-size);
    line-height: var(--text-large-line);
    color: var(--secondary-rgba-color);
    padding-left: 5.5rem;

}
.subscribers-btn{
    position: relative;
    bottom: 4rem;
    left: 32rem;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: var(--text-large-size);
    line-height: var(--text-large-line);
    text-align: center;
    color: var(--secondary-white-color);
    padding:  1rem 2rem;
    border: 1px solid transparent;
    outline: none;
    border: none;
    background: var(--secondary-blue-color);
    border-radius: 0.9rem;
    text-transform: capitalize;
}
.subscribers-info{
    margin-left: 18.4rem;
}
.subscribers-info_image{
    width: 27rem;
    height: 30rem;
}

/* Footer */

.footer-end{
    padding: 2rem;
    background: var(--seconday-footer_dark-color);
}
.footer-text{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: var(--text-large-size);
    line-height: var(--text-large-line);
    color: var(--secondary-white-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-text:hover{
    color: lightcoral;
}